
.jumbotron {
    color: midnightblue;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

div.output {
    float:left; 
    width: 30%; 
    padding:20px; 
    resize: both; 
    overflow: auto;
}

div.container {
    position: fixed; 
    width:100%; 
    overflow: auto;
    z-index:-1;
}

div.output2{
     float:right;
     width: 60%; 
     padding-left:10%; 
     padding-bottom: 5%;
     overflow: auto;
}

img.output1 {
    width: 100%; 
    max-width: 350px; 
    height: auto;
}

#output2 {
    width: 100%; 
    max-width: 500px; 
    height: auto;
}

h1.title2 {
    font-size:2.5vw
}

h1.sidebarTitle {
    font-size:2vw
}

.article {
    font-size:1.2vw
}

h2.sidebarArticle {
    font-size:1vw
}

p.attribute {
    font-size:.75vw
}